ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

button,
input {
    border: none;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    color: #454544;
}

header ul li,
nav section img,
nav section button,
nav section ul li,
nav section ul li label,
.nav-section-right #nav-talk-one,
.nav-section-right #nav-talk-two,
aside ul li,
aside ul li label,
#section-message #section-message-one span,
body img {
    cursor: pointer;
}

header {
    background-color: black;
    margin: 0px;
}

.nav-section-left {
    width: 70%
}

header,
#nav-wrapper,
#section-content-detail,
.section-message-two div h6,
#section-content-detail,
.space-between,
.space-between-section {
    display: flex;
    justify-content: space-between;
}

.space-between {
    width: 250px;
}

header ul,
nav ul,
.header-right,
nav .nav-section-left,
nav.nav-section-center,
#header-profile-info,
#header-profile,
main,
#section-message-one,
.section-message-two {
    display: flex;
}

ul li .header-app,
.header-right .header-icons,
#header-button-left .header-icons,
#header-button-right .header-icons {
    filter: invert(100%);
}

#header-dropdown {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 320px;
    background-color: white;
    border-radius: 2px;
}

#header-dropdown-list {
    display: block;
    font-size: 13px;
}

#search-dropdown {
    visibility: hidden;
    position: absolute;
    top: 50px;
    left: 320px;
    background-color: white;
    border-radius: 2px;
}

#header-dropdown-list li:hover {
    background-color: #dee1e6;
}

#header-dropdown-list li {
    padding: 15px 2px 15px 5px;
}

ul li .header-app {
    padding: 20px;
    margin: 0px;
}

ul li .header-app:hover {
    background-color: yellow;
}

ul .header-search-list {
    padding-top: 13px;
}

.header-search-list #header-button-right {
    border-radius: 0px 2px 2px 0px;
    padding: 2px 5px 8px 5px;
}

.header-search-list #header-button-right,
.header-search-list #header-button-left,
.header-right li:hover,
nav button:hover {
    background-color: #0072d6;
}

.header-search-list button img {
    width: 20px;
    height: 20px;
}

.header-search-list #header-button-left {
    border-radius: 2px 0px 0px 2px;
}

.header-search-list #header-button-left,
ul li span {
    color: white;
}

#section-winner-time,
#section-engage2-time,
#section-engage1-time,
#section-curry-time,
#section-security-time,
#section-data-time,
#section-listen-time,
#section-plural-time,
#section-winner-time {
    text-align: right;
}

#header-search-filter h5 {
    border-bottom: 1px solid;
    padding: 10px;
}

#header-search-filter {
    background-color: white;
    padding: 10px;
    width: 28%;
    position: absolute;
    top: 46px;
    left: 420px;
    border: 1px solid;
    visibility: hidden;
}

.header-search-list #header-button-left,
.header-search-list #header-button-right,
#nav-talk-two,
.nav-section-right:hover #nav-talk-one,
#profile-info,
#aside-menu-content,
#section-content,
#short-section {
    display: none;
}

#short-section {
    border: 1px solid grey;
    background-color: #c3c8cc;
    padding: 10px;
}

#filter-section {
    position: absolute;
    left: 250px;
    top: 131px;
    visibility: hidden;
    background-color: white;
}

#filter-section ul li {
    padding: 15px 40px 15px 10px;
}

.header-search-list #header-button-left {
    padding: 1px 30px 10px 25px;
}

ul li span {
    font-size: 13px;
    font-weight: bold;
}

ul li input,
nav button,
#new-message button {
    border-radius: 2px;
}

ul li #header-input {
    height: 30px;
    width: 400px;
    background-color: #b3b3b3;
    color: #3f6e90;
    background-image: url("../css/images/dropdown.webp");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 20px;
}

#header-apps-launcher {
    display: none;
    width: 12%;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    padding-top: 60px;
}

#header-apps-launcher ul {
    display: inline-block;
}

#header-apps-launcher ul li {
    padding: 15px;
    margin: 10px;
}

#header-apps-launcher ul li h3 {
    font-weight: lighter;
}

#header-apps-launcher ul li:hover,
#filter-section ul li:hover {
    background-color: #dee1e6;
}

#logo-header {
    height: 48px;
    padding-top: 4px;
}

.nav-section-center {
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding-top: 10px;
}

nav .nav-section-left {
    justify-content: space-between;
}

.header-right,
nav .nav-section-left,
nav.nav-section-center {
    flex-wrap: wrap;
    align-content: center;
}

.header-right .header-icons {
    height: 20px;
    width: 16px;
    padding: 10px;
}


/*navigation*/

#nav-wrapper,
#profile-info {
    background-color: #f3f2f1;
}

#nav-wrapper {
    border-bottom: 1px solid lightgrey;
    color: #3f6e90;
    font-size: 13px;
}

#nav-functions {
    visibility: hidden;
}

nav .nav-menu {
    padding: 5px 20px;
    width: 20px;
}

.nav-section-right span label,
nav button,
#profile-info-detail li,
#section-message-one span:hover,
#section-message-one span:nth-child(1) {
    font-weight: bolder;
}

.nav-section-right:hover #nav-talk-two {
    display: block;
}

nav button,
#new-message button {
    background-color: #0072c6;
    color: white;
}

nav button {
    padding: 10px 10px;
}

.nav-icons {
    width: 15px;
    height: 13px;
}

.nav-section-center {
    display: flex;
    justify-content: space-between;
}


/* .nav-section-center li {
    padding: 10px 5px;
} */

.nav-section-right {
    height: 40px;
    text-align: right;
}

.nav-section-right:hover,
.nav-section-center li:hover,
.nav-section-left .nav-menu:hover {
    background-color: #dee1e6;
}


/*main*/

#profile-info,
#aside-menu #aside-menu-icons {
    position: absolute;
    bottom: 0px;
}

#profile-info {
    top: 58px;
    right: 0px;
    border: 1px solid;
    width: 22%;
}

#profile-info h4 {
    padding: 12px;
    display: inline-block;
}

#profile-info-detail {
    width: 100%;
}

#profile-info-detail li {
    font-size: 12px;
    padding: 5px;
}

#profile-info-detail li:nth-child(2),
#profile-info-detail li:nth-child(3) {
    font-weight: normal;
    color: black;
}

#profile-info #cross {
    float: right;
    width: 30px;
}

.profile {
    width: 80px;
}

main {
    height: 565px;
}

#aside-menu {
    width: 5%;
    border-right: 1px solid lightgray;
    overflow: auto;
    /* position: relative; */
}

#aside-menu #aside-menu-icons li {
    padding: 10px 0px 0px 10px;
}

.aside-menu-icons {
    width: 30px;
}

#aside-menu-content li {
    padding: 10px;
}

#aside-menu-content li label {
    font-size: 13px;
}

#aside-menu-content li span,
.section-message-two div p span {
    float: right;
}

#aside-menu-content li:hover {
    background-color: #dee1e6;
}

#aside-menu-content li img {
    padding: 0px 10px;
}

#section-del-msg,
#section-send-msg,
#section-draft-msg,
#section-junk-msg,
#section-archive-msg,
#new-message {
    display: none;
}

#new-message {
    margin: 10px;
    border: 1px solid #dee1e6;
    width: 70%;
}

#new-message div {
    position: absolute;
    bottom: 20px;
    margin: 10px;
}

#new-message div button {
    padding: 5px;
}

#new-message h5 {
    border-bottom: 1px solid #dee1e6;
    padding: 15px;
    cursor: auto;
}

#section-message,
#section-del-msg,
#section-send-msg,
#section-draft-msg,
#section-junk-msg,
#section-archive-msg {
    width: 25%;
    padding: 10px 0px;
    border-right: 1px solid lightgrey;
    overflow-y: scroll;
}

#section-message-one,
.section-message-two {
    border-bottom: 1px solid lightgrey;
    font-size: 13px;
}

.section-message-two div h6 span {
    font-size: 13px;
    font-weight: lighter;
}

.section-message-two {
    padding: 10px 10px;
}

.section-message-two div h6 img {
    visibility: hidden;
}

.section-message-two div p,
#section-message-one div+span:last-child,
#aside-menu-content li span,
#aside-menu-content li label:hover,
#aside-addfavorite {
    color: #0072d6;
}

.section-message-two :hover .section-message-icons {
    visibility: visible;
}

.section-message-two:hover,
#section-message-one span:hover,
#section-message-one span:nth-child(1),
#section-content,
#aside-menu,
#aside-menu-content {
    background-color: #f3f2f1;
}

#section-message-one span {
    padding: 0px 8px;
}

#section-message-one span:hover,
#section-message-one span:nth-child(1) {
    border-bottom: 3px solid #0072d6;
}

.section-message-icons {
    width: 16px;
    height: 15px;
    padding: 0px 10px;
}

#section-content {
    width: 70%;
}

#section-content h3 {
    padding: 20px 10px;
    font-weight: normal;
}

#section-content img {
    width: 60%;
}

#section-content-detail-wrapper,
#profile-info-detail {
    background-color: white;
}

#section-content-detail-wrapper {
    border: 1px solid gray;
    text-align: center;
    margin: 10px;
    border-radius: 2px;
    padding: 20px;
    overflow-y: scroll;
}

#section-content-from {
    text-align: left;
    font-size: 13px;
}

#section-content-detail div .section-content-detail-icon {
    width: 20px;
}